@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.matches-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh; 
    padding-bottom: 150px; 
    gap: 30px; 
}

.match-card {
    width: 100%;
    max-width: 600px; 
    padding: 40px;    
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(0, 255, 204, 0.3); 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}