*{
    box-sizing: border-box;
    padding: 0;
    margin: 0

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  background-image: url(images/tip-bg.avif);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto Mono", monospace;

}
ul {
  list-style-type: none;
 
  
}

.nav-list{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.ucl-logo{
  height: 40px;
  width: auto;
 
}
.news-post{
  display: flex;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.post-description{
    
     font-size: 1.1rem;
     color: white;
     text-align: center;
     padding: 20px;
}
.post-img{
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 30px;
  border: 5px solid black;
 
}
.post-desc-container {
    max-width: 700px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
}


.other-news a {
  font-size: 50px;
  flex-direction: column;
  background-color: #0c195fdd;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  padding: 20px;
  width: 100%;
  max-width: 350px;   
  color: white;
  display: flex;
  text-decoration: none;
  }
.other-news{
  display: flex;
  flex-direction: column;
  background-color: #0c195f;
  border-radius: 10px;
  backdrop-filter: blur(500px);
  margin-left: 250px;
  margin-right: 50px;

}
.headlines{
  display: flex;
  gap: 15px;
  align-items: center;
  
}
.headlines img{
  height: 100px;
  width: 100px;
  border-radius: 10px;
  object-fit: cover;
}
.headlines a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.headlines-header{
   color: white;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .nav-list {
        gap: 15px;
        justify-content: center;
    }

    .post-description {
        font-size: 1rem;
    }
  }


  .scroll-btn{
    margin-left: 90%;
    height: 50px;
    border-radius: 5px;

    color: white;
    background-image: url(/images/tip-bg.avif);
    position: fixed;
      box-shadow: 5px 10px #100a46;

  }

  .scroll-btn:hover{
    color: aqua;
  }